.initContainer {
  height: 100vh;
  position: relative;
  z-index: 5;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  position: relative;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper {
  width: 768px;
  padding: 0 22px;
  margin: 64px auto 8px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  display: flex;
  flex-direction: row;
  font-size: 56px;
  font-weight: 600;
  color: #08fdd8;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
}

.workYearContainer {
  display: flex;
  flex: 1 1 30%;
}

.workDetailContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 70%;
}

.workYearWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: rgb(150, 165, 198);
}

.workDetailWrapper {
  display: flex;
  flex: 1 1 65%;
  flex-direction: row;
  gap: 16px;
  font-weight: 500;
}

.workDetailWrapper > div:nth-child(1):hover {
  content: "";
  text-shadow: 0 0 5px gold, 0 0 10px gold;
  animation: all 0.3s ease-in both;
}

.workDetailWrapper > div:nth-child(3):hover {
  content: "";
  text-shadow: 0 0 5px #08fdd8, 0 0 10px #08fdd8;
}

.jobDescWrapper {
  font-size: 14px;
  color: rgb(150, 165, 198);
}

.techStackWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.techStackCapsuleWrapper {
  content: "";
}

.techStackCapsule {
  display: flex;
  padding: .25rem .75rem;
  border-radius: 9999px;
  font-size: .75rem;
  font-weight: 400;
  color: rgb(94, 234, 212);
  background-color: rgba(94, 234, 212, .4);
  animation: all 0.3s ease-in-out both;
}

.techStackCapsule:hover {
  color: gold;
  box-shadow: 0 0 3px gold, 0 0 4px gold, 0 0 7px gold;
}

/* height more than 500px */
@media (max-width: 757px) {
  .contentWrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 651px) {
  .wrapper {
    margin: 8px auto 8px auto;
  }
}

@media (max-width: 544px) {
  .title {
    font-size: 10vw;
  }

  .workDetailWrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .workDetailWrapper > div:nth-child(2) {
    display: none;
  }
}